/*
 * 
 */
* {
  box-sizing: border-box; }

[hidden] {
  display: none !important; }

[disabled] {
  pointer-events: none;
  opacity: 0.3; }

.center {
  justify-content: center;
  align-items: center; }

.flex {
  flex: 1; }

.primary {
  color: lightseagreen; }

.secondary {
  color: gray; }

.light {
  color: white; }

.dark {
  color: black; }

.bg-primary {
  background-color: lightseagreen; }

.bg-secondary {
  background-color: gray; }

.bg-light {
  background-color: white; }

.bg-dark {
  background-color: black; }

h1 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 36px; }

h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 32px; }

h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 28px; }

h4 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 24px; }

h5 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 20px; }

h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 16px; }

p {
  margin-top: 0; }

.flex {
  display: flex; }

.inline-flex {
  display: inline-flex; }

.row {
  display: flex;
  flex-direction: row; }

.row-reverse {
  display: flex;
  flex-direction: row-reverse; }

.col {
  display: flex;
  flex-direction: column; }

.col-reverse {
  display: flex;
  flex-direction: column-reverse; }

/* 
 * MARGINS
 * 
 */
.m-1 {
  margin: 6.472px; }

.m-2 {
  margin: 12.944px; }

.m-3 {
  margin: 25.888px; }

.m-4 {
  margin: 38.832px; }

.m-5 {
  margin: 51.776px; }

.mt-1 {
  margin-top: 6.472px; }

.mt-2 {
  margin-top: 12.944px; }

.mt-3 {
  margin-top: 25.888px; }

.mt-4 {
  margin-top: 38.832px; }

.mt-5 {
  margin-top: 51.776px; }

.mb-1 {
  margin-bottom: 6.472px; }

.mb-2 {
  margin-bottom: 12.944px; }

.mb-3 {
  margin-bottom: 25.888px; }

.mb-4 {
  margin-bottom: 38.832px; }

.mb-5 {
  margin-bottom: 51.776px; }

.me-1 {
  margin-right: 6.472px; }

.me-2 {
  margin-right: 12.944px; }

.me-3 {
  margin-right: 25.888px; }

.me-4 {
  margin-right: 38.832px; }

.me-5 {
  margin-right: 51.776px; }

.ms-1 {
  margin-left: 6.472px; }

.ms-2 {
  margin-left: 12.944px; }

.ms-3 {
  margin-left: 25.888px; }

.ms-4 {
  margin-left: 38.832px; }

.ms-5 {
  margin-left: 51.776px; }

/* 
 * PADDINGS
 * 
 */
.p-1 {
  padding: 6.472px; }

.p-2 {
  padding: 12.944px; }

.p-3 {
  padding: 25.888px; }

.p-4 {
  padding: 38.832px; }

.p-5 {
  padding: 51.776px; }

.pt-1 {
  padding-top: 6.472px; }

.pt-2 {
  padding-top: 12.944px; }

.pt-3 {
  padding-top: 25.888px; }

.pt-4 {
  padding-top: 38.832px; }

.pt-5 {
  padding-top: 51.776px; }

.pb-1 {
  padding-bottom: 6.472px; }

.pb-2 {
  padding-bottom: 12.944px; }

.pb-3 {
  padding-bottom: 25.888px; }

.pb-4 {
  padding-bottom: 38.832px; }

.pb-5 {
  padding-bottom: 51.776px; }

.ps-1 {
  padding-left: 6.472px; }

.ps-2 {
  padding-left: 12.944px; }

.ps-3 {
  padding-left: 25.888px; }

.ps-4 {
  padding-left: 38.832px; }

.ps-5 {
  padding-left: 51.776px; }

.pe-1 {
  padding-right: 6.472px; }

.pe-2 {
  padding-right: 12.944px; }

.pe-3 {
  padding-right: 25.888px; }

.pe-4 {
  padding-right: 38.832px; }

.pe-5 {
  padding-right: 51.776px; }

.round {
  border-radius: "50%"; }

.pill {
  border-radius: "50rem"; }

button, button.primary, button.secondary, button.light, button.dark, button.outline-primary, button.outline-secondary, button.outline-light, button.outline-dark {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  background-color: lightseagreen;
  border: 1.618px solid transparent;
  border-radius: 6.472px;
  padding: 6.472px 12.944px; }

button.primary {
  background-color: lightseagreen;
  border-color: lightseagreen;
  color: black; }

button.secondary {
  background-color: gray;
  border-color: gray;
  color: black; }

button.light {
  background-color: white;
  border-color: white;
  color: black; }

button.dark {
  background-color: black;
  border-color: black;
  color: white; }

button.outline-primary {
  background-color: rgba(32, 178, 170, 0.2);
  border-color: lightseagreen;
  color: lightseagreen; }

button.outline-secondary {
  background-color: rgba(128, 128, 128, 0.2);
  border-color: gray;
  color: gray; }

button.outline-light {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: white;
  color: white; }

button.outline-dark {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: black;
  color: black; }

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: lightseagreen;
  border: 1.618px solid transparent;
  border-radius: 6.472px;
  padding: 1.618px 6.472px;
  font-size: 0.77664em;
  font-weight: 700; }

a, a[href], a[href*="#"] {
  display: flex;
  padding: 0 6.472px;
  cursor: pointer; }

a[href] {
  color: lightseagreen; }

a[href*="#"] {
  color: gray;
  text-decoration: none; }

hr, hr[data-type="vertical"] {
  display: flex;
  margin: 0.5em auto;
  border-width: 0;
  border-color: "transparent";
  height: 1px;
  width: 100%;
  background-color: gray; }

hr[data-type="vertical"] {
  margin: auto 0.5em;
  min-height: 25.888px;
  height: 100%;
  width: 1px; }
