h1 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 36px; }

h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 32px; }

h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 28px; }

h4 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 24px; }

h5 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 20px; }

h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 16px; }

p {
  margin-top: 0; }
