//
// Link styles
//

a {
  @include flex;
  padding: 0 $spacing-xs;

  // &:hover {
  //   color: $body-color;
  //   text-decoration: if($link-hover-decoration == underline, none, null);
  // }

  // &:focus {
  //   outline: 0;
  //   box-shadow: $btn-focus-box-shadow;
  // }

  // &:disabled {
  //   pointer-events: none;
  //   opacity: $btn-disabled-opacity;
  // }
}

//
// Alternate links
//

// links
a[href] {
  @extend a;
  color: $primary;
}

// Internal links
a[href*='#'] {
  @extend a;
  color: $secondary;
  text-decoration: none;
}