// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

$light-color: white;
$primary-color: lightseagreen;

// Borders
$border-width: 1px;
$radius: 8px;

// Spacing
$spacing-xs: 8px;
$spacing-s: 12px;
$spacing: 24px;
$spacing-l: 36px;
$spacing-xl: 48px;